/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Establish a positioning context */
  z-index: 10; /* Ensure header is above other content */
}

main {
  position: relative; /* Add relative positioning to the main content */
  z-index: 1; /* Ensure main content is above the background but below the header */
  padding-top: 2rem;
}

/* Header Styles */

.header .logo {
  font-size: 1.5rem;
}

.logo a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.header nav ul li a:hover {
  color: #f4f4f9;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: block; /* Hide by default on larger screens */
  padding: 0; /* Remove default padding */
}

.hamburger-menu .svg-inline--fa { /* Targeting the Font Awesome icon */
  color: #fff;
  font-size: 1.5rem;
}

/* Mobile Menu Styles */
.nav-links {
  position: absolute;
  top: 100%; /* Position below the header */
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  transform: translateX(-100%); /* Initially hidden off-screen to the left */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}

.nav-links.show {
  transform: translateX(0); /* Slide in from the left when active */
  z-index: 10;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Ensure ul takes full width */
}

.nav-links li {
  text-align: center;
  width: 100%; /* Ensure li takes full width */
}

/* Media Query for Mobile */
@media (max-width: 767px) {
  .header nav {
    display: none; /* Hide the default navigation on mobile */
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu on mobile */
    margin-left: auto; /* Align the hamburger menu to the right */
  }

  .header .nav-links.show {
    display: flex;
  }
}

.section {
  padding: 2rem;
  text-align: center;
}

.about, .projects, .contact, .technologies {
  background-color: #dcdde0;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 8px;
}

.project-list, .technology-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project-card, .technology-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card, .technology-card a {
  text-decoration: none;
  color: #007bff;
}

.project-card, .technology-card a:hover {
  text-decoration: none;
}

.project-card .icon {
  justify-content: center;
}

.project-card h3 {
  color: black; /* Set h3 text color to black */
}

.project-card p {
  color: gray; /* Set p text color to gray */
}

.project-card img {
  max-width: 100%;
  max-height: 100px;
  height: auto; /* Maintain aspect ratio */
}

.icon .tooltip {
  display: none;
  position: absolute;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px; /* Adjust the size as needed */
  color: gray; /* Or use a specific hex color like #888 */
  font-style: italic;
}

.icon:hover .tooltip {
  display: block;
}

.icon {
  position: relative; /* Make the icon a positioning context */
  display: inline-block; /* Ensure the icon has a width for centering */
}

.tooltip {
  display: block; /* or inline-block if you want to control width */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(-55% - 5px); /* Adjust the spacing as needed */
  white-space: nowrap; /* Prevent the tooltip from wrapping */
}

/* Add this to style the social icons */
.contact-links {
  margin-top: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.icon {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s;
}

.icon:hover {
  color: #007bff;
}

@media (max-width: 768px) { /* Mobile styles */
  .header {
    padding: 0.5rem; /* Reduce padding on smaller screens */
  }

  main {
    padding-top: 1rem; /* Add padding-top to main content on mobile */
  }

  .about-section {
    margin-top: 1rem; /* Add some space between the header and About section on mobile */
  }

  .timeline-container {
    margin-top: 2rem; /* Add space between About and Timeline */
  }
}